// main: ../style.scss

.nav-tabs{
  @include justify-content(center);
  border-bottom: 1px solid $color-primary-dark;
  text-shadow: 4px 2px 4px rgba(9,9,9,0.9);
  height: 110px;

  .nav-item{
    width: 6em;
    text-align: center;
    color: $color-grey-light;

    .nav-link.active,
    .nav-item.show{
        color: $color-primary;
        border: none;
        border-bottom: 3px solid $color-primary;
        height: 100%;
        background-color: inherit;
        @include shadow(0 0 10px rgba(0, 0, 0, .3));
      }

    .nav-link{
      &:hover{
        color: $color-primary-light;
        border: none;
        border-bottom: 3px solid $color-primary-light;
        height: 100%;
        @include shadow(0 0 10px rgba(0, 0, 0, .3));
      }
    }

    p{
      margin-bottom: 0;
    }

    .item-icons{
      padding-top: 1em;
    }

    .icons{
      font-size: 2em;
      font-weight: light;
    }

    .item-name{
      font-size: 75%;
      font-family: $font-secondary;
      line-height: 15px;
    }
  }

  @include responsive(MD){
    height: auto;
    .nav{
      &-item{
        width: 7em;
        height: 8em;
        border: 1px solid rgba(8, 8, 8, .2);
        padding: 0;
        color: $color-grey-light;
      }

      &-link{
        padding-top: 1.5em;
        &:hover{
          @include shadow(0 0 10px rgba(0, 0, 0, .8) !important);
        }
      }
    }
    .nav-link.active,
    .nav-item.show{
      @include shadow(0 0 10px rgba(0, 0, 0, .8) !important);
    }
  }

  @include responsive(SM){
    height: auto;
    .nav{
      &-item{
        width: 6em;
        height: 7em;
        border: 1px solid rgba(8, 8, 8, .2);
        padding: 0;
        color: $color-grey-light;
      }

      &-link{
        padding-top: 1.5em;
        &:hover{
          @include shadow(0 0 10px rgba(0, 0, 0, .8) !important);
        }
      }
    }
    .nav-link.active,
    .nav-item.show{
      @include shadow(0 0 10px rgba(0, 0, 0, .8) !important);
    }
  }

  @include responsive(XS){
    height: auto;
    .nav{
      &-item{
        width: 7em;
        height: 8em;
        border: 1px solid rgba(8, 8, 8, .2);
        padding: 0;
        color: $color-grey-light;
      }

      &-link{
        padding-top: 1.5em;
        &:hover{
          @include shadow(0 0 10px rgba(0, 0, 0, .8) !important);
        }
      }
    }
    .nav-link.active,
    .nav-item.show{
      @include shadow(0 0 10px rgba(0, 0, 0, .8) !important);
    }
  }
}

.tab-content{
  @include shadow(0 0 10px rgba(0, 0, 0, .3));
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  .show{
    padding: 1em 0;
  }

  & > .active{
    display: block;
    width: 80%;
  }
  .tab-pane{
    h2{
      padding-top: 1em;
      padding-bottom: 0.5em;
      font-size: larger;
      line-height: 2;
      text-transform: capitalize;
      font-weight: bold;
      text-shadow: 4px 2px 4px rgba(9, 9, 9, .9);
      letter-spacing: 2px;
    }

    table{
      padding-bottom: 1.5em;

      tr{
        border-bottom: 1px solid $color-grey-light;
        line-height: 3;
        &:last-child{
          border: none;
        }
      }

      td{
        padding: 0 .5em;
        border: none;
        border-collapse: collapse;

        &:first-child{
          text-align: right;
          padding-left: .5em;
          width: 10%;
          padding-right: 2em;
        }

        &:last-child{
          text-align: left;
          padding-right: 2em;
          width: 10%;
        }
      }
    }

    p{
      line-height: 2;
      padding-top: 1em;
      text-align: center;
      text-shadow: 4px 2px 4px rgba(9, 9, 9, .9);
      letter-spacing: 1px;
    }



  }

  .table-two-column{
    table{
      td{
        &:first-child{
          width: 80% !important;
          text-align: justify !important;
          line-height: 1.5 !important;
          padding: 1em !important;
        }

        &:last-child {
          text-align: center !important;
          padding-right: 0em !important;
        }
      }
    }
  }

  .list-item{
    list-style: circle;
    margin-left: 1.5em;
    li{
      padding-left: 5px;
    }
  }


  @include responsive(MD){
    .tab-pane{
      table{
        td{
          padding: .5em;
          &:first-child{
            padding-right: 1em;
            padding-left: 1em;
          }
          &:last-child{
            padding-right: 1em;
            padding-left: 1em;
          }
        }
      }
    }
  }

  @include responsive(SM){
    .tab-pane{
      h2{
        font-size: medium;
      }

      table{
        font-size: small;
        tr{

        }

        td{
          line-height: 1;
          padding: .5em;

          &:first-child{
            text-align: right;
            padding-right: 1em;
          }
          &:last-child{
            padding-right: 0;
            padding-left: 1em;
          }
        }
      }

      p{
        line-height: 1.5;
        font-size: 1em;
      }
    }
  }

  @include responsive(XS){
    .tab-pane{
      h2{
        font-size: medium;
      }

      table{
        font-size: small;
        tr{

        }

        td{
          line-height: 1;
          padding: .5em;

          &:first-child{
            text-align: right;
            padding-right: 1em;
          }
          &:last-child{
            padding-right: 0;
            padding-left: 1em;
          }
        }
      }

      p{
        line-height: 1.5;
        font-size: 1em;
      }
    }
  }
}
