// main: ../style.scss

/* h1{
  font-size: 3em;
  color:#fff;
  background: red;

  @include responsive(MD){
    background: lime;
    color: #fff;
    font-style: 1em;
  }
} */

.call-reserve {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    margin: 2rem 0;
    text-shadow: 4px 2px 4px rgba(9,9,9,0.9);
}

.btn-reservation{
    border: 1px solid;
    padding: 1rem;
    border-radius: 10px;
    color: $color-primary;
    //text-shadow: ;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: $font-secondary;

    &:hover{
        background: $color-primary-light;
        color: $color-dark;
    }
}